<% provide(:title,@base) %>
<div>
  <table class="table table-bordered table-condensed base-table" %>
    <tr>
      <th>拠点番号</th>
      <th>拠点名</th>
      <th>拠点種類</th>
    </tr>
    <tr>
      <td><%= @base.base_number %></td>
      <td><%= @base.base_branch %></td>
      <td><%= @base.work_type %></td>
    </tr>
  </table>
</div>